<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Form Page</title>
</head>

<body>
    <form action="/" method="post">
        <h1>Registration Form</h1>
        <label>
            First Name:
            <br>
            <input type="name" name="first" id="text" placeholder="Enter First Name" required>
        </label>
        <label>
            Last Name:
            <br>
            <input type="name" name="last" id="name" placeholder="Enter Last Name" required>
        </label>
        <label>
            Email:
            <br>
            <input type="email" name="email" id="email" placeholder="Enter email address" required>
        </label>
        <label>
            Password:
            <br>
            <input type="password" name="password" id="password" placeholder="Enter password" required>
        </label>
        <label>
            Confirm Password:
            <br>
            <input type="password" name="c-password" id="c-password" placeholder="Re-type Password">
        </label>
        <button>Submit</button>
    </form>
</body>

</html>